body {
    background-color: #e9ecef;
}

.navbar {
    border-radius: 0;
}

.jumbotron {
    background-color: #ffffff;
    padding: 1rem 2rem;
}

code {
    background-color: transparent;
    padding: 0;
}

pre {
    border: none;
    font-size: 16px;
}

.article-title {
    margin-top: 0;
    text-align: center;
}

.article-tag {
    text-align: center;
}


.left-nav {
    color: #798795;
    margin-bottom: 20px;
    border-radius: 6px;
}

.left-nav ul {
    background-color: #2c3e50;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-radius: 0 0 6px 6px;
}

.left-nav li {
    background: #34495e;
    background-size: 20px 20px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.214;
    margin-top: 2px;
    padding: 18px 42px 21px 25px;
    position: relative;
    transition: .25s;
}

.left-nav li:first-child {
    margin-top: 0;
}

.left-nav li:last-child {
    border-radius: 0 0 6px 6px;
    padding-bottom: 21px;
}

.left-nav li.left-nav-done {
    background: transparent;
    color: #1abc9c;
}

.left-nav li.left-nav-done .left-nav-name {
    color: #1abc9c;
}


.left-nav-search {
    position: relative;
    background: #2c3e50;
    background-size: 16px 16px;
    border-radius: 6px 6px 0 0;
    color: #34495e;
    padding: 19px 25px 20px;
}


input.left-nav-search-field {
    background: none;
    border: none;
    color: #34495e;
    font-size: 19px;
    font-weight: 700;
    margin: 0;
    line-height: 23px;
    padding: 5px 0;
    text-indent: 0;
    box-shadow: none;
    outline: none;
}

input.left-nav-search-field::-moz-placeholder {
    color: #34495e;
    opacity: 1;
}

input.left-nav-search-field:-ms-input-placeholder {
    color: #34495e;
}

input.left-nav-search-field::-webkit-input-placeholder {
    color: #34495e;
}

.left-nav-icon {
    float: left;
    font-size: 24px;
    padding: 11px 22px 0 0;
}

.left-nav-content {
    padding-top: 1px;
    overflow: hidden;
}

.left-nav-name {
    color: white;
    font-size: 17px;
    margin: 1px 0 3px;
}
