body {
    background-color: #e9ecef;
}

.navbar {
    border-radius: 0;
}

.jumbotron {
    background-color: #ffffff;
    padding: 1rem 2rem;
}

code {
    background-color: transparent;
    padding: 0;
}

pre {
    border: none;
    font-size: 16px;
}

.article-title {
    margin-top: 0;
    text-align: center;
}

.article-tag {
    text-align: center;
}

.left-banner {
    background-color: #1abc9c;
    color: #d1f2eb;
    margin-left: 42px;
    min-height: 316px;
    padding: 0 30px 30px;
}

.left-banner .left-title {
    color: white;
}

.left-banner a {
    color: #b7f5e9;
    text-decoration: underline;
}

.left-banner a:hover {
    text-decoration: none;
}

.left-banner ul {
    list-style-type: none;
    margin: 0 0 26px;
    padding: 0;
}

.left-banner ul li {
    border-top: 1px solid #1bc5a3;
    line-height: 19px;
    padding: 6px 0;
}

.left-banner ul li:first-child {
    border-top: none;
    padding-top: 1px;
}