{{template "header.html" .}}
{{template "nav.html" .}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron">
                <h4 class="article-title">{{.data.Article.Title}}</h4>
                <div class="article-tag ">
                    <span>
                        作者-<strong>{{.data.Article.Author}}</strong>;
                        分类-<strong>{{.data.CategoryName}}</strong>;
                        时间-<strong>{{UnixToTime .data.Article.PublicTime}}</strong>
                    </span>
                </div>
                <div class="article-content">
                    {{.data.Article.ContentHtml}}
                </div>
            </div>
            <div class="text-center">
                <div class="pagination pagination-inverse">
                    <a href="#fakelink" class="btn btn-inverse previous">
                        <i class="fui-arrow-left"></i>
                        上一遍
                    </a>
                    <a href="#fakelink" class="btn btn-inverse next">
                        下一篇
                        <i class="fui-arrow-right"></i>
                    </a>
                </div> <!-- /pagination -->
            </div>
        </div>
        {{template "directory_nav.html" .}}
    </div>
</div> <!-- /container -->
{{template "footer.html" .}}