{{template "header.html" .}}
<!--引入公共模板-->
{{template "nav.html" .}}
<div class="container-fluid">
    <div class="row">
        {{template "left_nav.html" .}}
        <div class="col-sm-10">
            <!-- Main component for a primary marketing message or call to action -->
            {{range $index,$value := .data.List}}
            {{range $a_index,$a_value := $value.Articles}}
            <div class="jumbotron">
                <a href="/article/detail/{{$value.Id}}"><h5>{{$a_value.Title}}</h5></a>
                <p>作者:{{$a_value.Author}} 发布时间:{{UnixToTime $a_value.PublicTime}}</p>
            </div>
            {{end}}
            {{end}}
        </div>
    </div>
</div> <!-- /container -->
{{template "footer.html" .}}
