{{template "header.html" .}}
<!--引入公共模板-->
{{template "nav.html" .}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <div class="left-nav">
                <div class="left-nav-search">
                    分类目录
                </div>
                <div class="left-nav-directory">
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Collapsible Group Item #1
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    Content for Collapsible Group Item #1
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Collapsible Group Item #2
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    Content for Collapsible Group Item #2
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul>
                        {{range $index,$value := .data.List}}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{$value.DirectoryName}}</a>
                            <span class="dropdown-arrow"></span>
                            <ul class="dropdown-menu">
                                {{range $a_index,$a_value := $value.Articles}}
                                <li><a href="#">{{$a_value.Title}}</a></li>
                                {{end}}
                            </ul>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </div><!-- /.left-nav -->
        </div>
        <div class="col-sm-10">
            <!-- Main component for a primary marketing message or call to action -->
            {{range $index,$value := .data.List}}
            {{range $a_index,$a_value := $value.Articles}}
            <div class="jumbotron">
                <a href="/article/detail/{{$a_value.Id}}"><h5>{{$a_value.Title}}</h5></a>
                <p>作者:{{$a_value.Author}} 发布时间:{{UnixToTime $a_value.PublicTime}}</p>
                <p><a class="btn btn-sm btn-primary" href="/article/detail/{{$a_value.Id}}" role="button">继续阅读</a>
                </p>
            </div>
            {{end}}
            {{end}}
        </div>
    </div>
</div> <!-- /container -->
{{template "footer.html" .}}
