<div class="row">
    <div class="col">
        <nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg" role="navigation">
            <a class="navbar-brand" href="/">堆栈人生</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse"
                    data-target="#navbar-collapse-01"></button>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav mr-auto">
                    {{range $index,$value := .navs.List}}
                    <li><a href="/category/{{$value.Id}}">{{$value.Name}}</a></li>
                    {{end}}
                </ul>
                <form class="navbar-form form-inline my-2 my-lg-0" action="#" role="search">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
                            <span class="input-group-btn">
                      <button type="submit" class="btn"><span class="fui-search"></span></button>
                    </span>
                        </div>
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </nav><!-- /navbar -->
    </div>
</div> <!-- /row -->