{{define "article/edit.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    {{template "public/header" .}}
    <link href="/static/vendors/toastui/toastui.css" rel="stylesheet">
    <link href="/static/vendors/toastui/odemirror.min.css" rel="stylesheet">
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">

        {{template "public/left_nav" .}}
        {{template "public/nav" .}}
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_content">
                            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                <input type="hidden" name="id" value="{{if .data}}{{.data.Id}}{{end}}">
                                <div class="item form-group">
                                    <label class="col-form-label col-md-1 label-align">标题</label>
                                    <div class="col-md-2">
                                        <input type="text" required="required" class="form-control ">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-1 label-align">Last Name</label>
                                    <div class="col-md-2">
                                        <input type="text" name="last-name" required="required" class="form-control">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-1 label-align">内容</label>
                                    <div class="col-md-11">
                                        <div id="editor">{{if .data}}{{.data.Content}}{{end}}</div>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <div class="col-md-6 offset-md-1">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{template "public/footer_nav" .}}
    </div>
</div>
{{template "public/footer" .}}
<script src="/static/vendors/toastui/toastui.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get the content from the div and clean up any HTML tags
        var templateContent = document.querySelector('#editor').innerHTML;

        // Remove HTML tags using a regular expression
        var cleanTemplateContent = templateContent.replace(/<[^>]+>/g, '');

        // Initialize Toast UI Editor with an empty initial value
        var editor = new toastui.Editor({
            el: document.querySelector('#editor'),
            height: '600px',
            initialEditType: 'markdown',
            previewStyle: 'vertical',
            usageStatistics: false,
            exts: ['scrollSync', 'colorSyntax', 'uml', 'chart', 'mark', 'table'],
            codeBlockLanguages: ['javascript', 'html', 'css', 'php', 'golang', 'shell', 'bash', 'sql', 'python']
            initialValue: cleanTemplateContent
        });

    });
</script>
</body>
</html>
{{end}}