{{define "article/edit.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    {{template "public/header" .}}
    <link href="/static/vendors/toastui/toastui.css" rel="stylesheet">
    <link href="/static/vendors/toastui/odemirror.min.css" rel="stylesheet">
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">

        {{template "public/left_nav" .}}
        {{template "public/nav" .}}
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_content">
                            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">First
                                        Name <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input type="text" id="first-name" required="required" class="form-control ">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">Last
                                        Name <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input type="text" id="last-name" name="last-name" required="required"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Middle
                                        Name / Initial</label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <input id="middle-name" class="form-control" type="text" name="middle-name">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Middle
                                        Name / Initial</label>
                                    <div class="col-md-6 col-sm-6 ">
                                        <div id="editor"></div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="item form-group">
                                    <div class="col-md-6 col-sm-6 offset-md-3">
                                        <button class="btn btn-primary" type="button">Cancel</button>
                                        <button class="btn btn-primary" type="reset">Reset</button>
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{template "public/footer_nav" .}}
    </div>
</div>
{{template "public/footer" .}}
<script src="/static/vendors/toastui/toastui.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var editor = new toastui.Editor({
            el: document.querySelector('#editor'),
            height: '600px',
            initialEditType: 'markdown',
            previewStyle: 'vertical',
            usageStatistics: false
        });
    });
</script>
</body>
</html>
{{end}}