{{define "article/edit.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    {{template "public/header" .}}
    <link href="/static/vendors/toastui/toastui.css" rel="stylesheet">
    <link href="/static/vendors/toastui/odemirror.min.css" rel="stylesheet">
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        {{template "public/left_nav" .}}
        {{template "public/nav" .}}
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_content">
                            <form id="inputForm" data-parsley-validate class="form-horizontal form-label-left">
                                <input type="hidden" name="id" id="id" value="{{if .data.Info}}{{.data.Info.Id}}{{end}}"
                                       data-id="{{if .data.Info}}{{.data.Info.Id}}{{end}}">
                                <div class="item form-group">
                                    <label class="col-form-label">标题</label>
                                    <input type="text" name="title" required="required"
                                           value="{{if .data.Info}}{{.data.Info.Title}}{{end}}">

                                    <label class="">排序</label>
                                        <input type="text" name="weight" required="required"
                                               value="{{if .data.Info}}{{.data.Info.Weight}}{{end}}">
                                    <label class="col-form-label label-align">热门</label>
                                    <select name="is_hot">
                                        {{range $index, $value := .data.StatusMap}}
                                        <option value="{{$index}}" {{if and (not (eq $.data.Info nil)) (eq $index
                                                $.data.Info.IsHot)}}selected{{end}}>
                                            {{$value}}
                                        </option>
                                        {{end}}
                                    </select>
                                    <label>推荐</label>
                                    <select name="is_recom">
                                        {{range $index, $value := .data.StatusMap}}
                                        <option value="{{$index}}" {{if and (not (eq $.data.Info nil)) (eq $index
                                                $.data.Info.IsRecom)}}selected{{end}}>
                                            {{$value}}
                                        </option>
                                        {{end}}
                                    </select>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-1 label-align">分类</label>
                                    <div class="col-md-2">
                                        <select class="form-control" name="cid">
                                            {{range $index, $value := .data.CategoryList}}
                                            <option value="{{$value.Id}}" {{if and (not (eq $.data.Info nil)) (eq
                                                    $value.Id $.data.Info.Cid)}}selected{{end}}>
                                                {{$value.Name}}
                                            </option>
                                            {{end}}
                                        </select>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-1 label-align">标签</label>
                                    <div class="col-md-2">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1"
                                                   value="option1">
                                            <label class="form-check-label" for="inlineCheckbox1">1</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-1 label-align">分类目录</label>
                                    <div class="col-md-2">
                                        <select class="form-control" name="did">
                                            {{range $index, $value := .data.DirectoryList}}
                                            <option value="{{$value.Id}}" {{if and (not (eq $.data.Info nil)) (eq
                                                    $value.Id $.data.Info.Did)}}selected{{end}}>
                                                {{$value.Name}}
                                            </option>
                                            {{end}}
                                        </select>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-1 label-align">seo关键词</label>
                                    <div class="col-md-2">
                                        <input type="text" name="keyword" class="form-control"
                                               value="{{if .data.Info}}{{.data.Info.Keyword}}{{end}}">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-1 label-align">seo描述</label>
                                    <div class="col-md-2">
                                        <input type="text" name="desc" class="form-control"
                                               value="{{if .data.Info}}{{.data.Info.Desc}}{{end}}">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="col-form-label col-md-1 label-align">内容</label>
                                    <div class="col-md-11">
                                        <textarea id="hiddenTextarea" style="display: none;">{{if .data.Info}}{{.data.Info.Content}}{{end}}</textarea>
                                        <div id="editor"></div>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <div class="col-md-6 offset-md-1">
                                        <button type="button" class="btn btn-success" onclick="submitForm()">提交
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{template "public/footer_nav" .}}
    </div>
</div>
{{template "public/footer" .}}
<script src="/static/vendors/toastui/toastui.js"></script>
<script>
    var hiddenTextarea = document.querySelector('#hiddenTextarea');
    var editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        height: '600px',
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        usageStatistics: false,
        language: 'shell',
        exts: ['scrollSync', 'colorSyntax', 'uml', 'chart', 'mark', 'table'],
        codeBlockLanguages: ['javascript', 'html', 'css', 'php', 'golang', 'shell', 'bash', 'sql', 'python'],
        initialValue: hiddenTextarea.value,
        events: {
            change: function () {
                hiddenTextarea.value = editor.getMarkdown();
            }
        }
    });

    function submitForm() {
        // 获取编辑器中的 Markdown 内容
        var markdownContent = editor.getMarkdown();
        let url = "/admin/article/create"
        let id = $("#id").data("id");
        if (id) {
            url = "/admin/article/update"
        }
        $.ajax({
            type: "POST",
            url: url, // 提交表单数据的URL
            data: $("#inputForm").serialize() + "&content=" + markdownContent,
            success: function (response) {
                if (response.code !== 200) {
                    Swal.fire({icon: "error", text: response.message});
                } else {
                    window.location.replace("/admin/article/list");
                }
            },
            error: function (error) {
                Swal.fire({icon: "error", text: 'error'});
            }
        });
    }
</script>
</body>
</html>
{{end}}